*.js
*.exe
*.rds
*.css
/tests/1_test_data_simulation/1_testing_data_simulation_files
/tests/2_test_simple_models/1_test_simple_models_files
*.png
*.model
examples/1_fit_models/.Rhistory
/examples/1_fit_models/scratch
/tests/1_test_data_simulation/1_testing_data_simulation_files
/tests/1_test_data_simulation/1_testing_data_simulation_files
